---
layout: default
---

<div class="col-sm-8 col-sm-offset-2">
  <h1>Collections</h1>
  {% for collection_hash in site.data.collections %}
    {% assign collection = collection_hash[1] %}
    {% assign id = collection_hash[0] %}
    {% capture description %}{% for note in collection.notes %}{% if note.type == 'abstract' %}{{note.subnotes[0].content}}{% elsif note.type == 'scopecontent' %}{{note.subnotes[0].content}}{% elsif note.type == 'bioghist' %}{{note.subnotes[0].content}}{% endif %}{% endfor %}{% endcapture %}
    {% capture fa_number %}{{ collection.id_0 }}{% if collection.id_1 %}.{{ collection.id_1 }}{% endif %}{% if collection.id_2 %}.{{ collection.id_2 }}{% endif %}{% if collection.id_3 %}.{{ collection.id_3 }}{% endif %}{% endcapture %}
      <h3><a href="{{ id | prepend:site.baseurl | prepend: site.url }}">{{ collection.title }} ({{fa_number}})</a></h3>
  {% endfor %}
</div>
