<ol class="breadcrumb">
  <li><a href="{{ site.baseurl }}">home</a></li>
  {% if breadcrumbs %}
    {% for breadcrumb in breadcrumbs.path_to_root %}
      {% if breadcrumb.node_type == "resource" %}
        <li><a href="{{ site.baseurl }}/collections/{{ breadcrumb.id }}">{{ breadcrumb.title }}</a></li>
      {% elsif breadcrumb.node_type == "archival_object" %}
        <li><a href="{{ site.baseurl }}/objects/{{ breadcrumb.id }}">{{ breadcrumb.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% else %}
    <li><a href="../">{{ page.type }}</a></li>
  {% endif %}
  <li class="active">{{ page.title }}</li>
</ol>
