<nav class="breadcrumb mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ site.url }}{{ site.baseurl }}">home</a>
    </li>
    {% if breadcrumbs %}
      {% for breadcrumb in breadcrumbs.path_to_root %}
        {% if breadcrumb.node_type == "resource" %}
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}/collections/{{ breadcrumb.id }}">{{ breadcrumb.title }}</a>
          </li>
        {% elsif breadcrumb.node_type == "archival_object" %}
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}/objects/{{ breadcrumb.id }}">{{ breadcrumb.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li class="breadcrumb-item">
        <a href="{{ site.url }}{{ site.baseurl }}/{{ page.type }}">{{ page.type }}</a>
      </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>
