{
  "@context": "http://schema.org/",
  "@type": "Collection",
  "name": "<< Collection name >>",
  "description": [
      "<< Abstract >>",
      "<< Scope and Contents >>",
      "<< Biographical Note >>"
      ],
  "datePublished": "<< Finding Aid Date >>",
  "creator": [
      {"@type": "Person", "name": "<< Person Agent(s) >>"},
      {"@type": "Organization", "name": "<< Corporate Entity Agent(s) >>"},
      {"@type": "Organization", "name": "<< Family Entity Agent(s) >>"}
    ],
    "temporalCoverage": "<<Creation Dates>>",
    "about": [
        "<< subject(s) >>"
        ],
  "url": "<< StaticAid URL >>",
  "offers": {
      "@type": "Offer",
      "availability": "https://schema.org/InStoreOnly",
      "serialNumber": "<< Identifier >>",
      "priceCurrency": "USD",
      "price": 0,
      "businessFunction": "http://purl.org/goodrelations/v1#ProvideService",
      "offeredBy": {
          {% include repo-json-ld.html %}
         }
      }
   }
