{% if tree.children[0] %}
  <h3>Contents List</h3>
{% endif %}
{% for component in tree %}
  {% capture component_id %}{{component.id}}{% endcapture %}
  {% assign component_detail = site.data.objects[{{component_id}}] %}

  <div class="col-md-12 {{component.level}}">
    <div id="{{component_detail.ref_id}}" class="row">
      <div class="col-md-9">
        {% if component.level == 'series' %}
          <span class="group-title-top">{{ component.title }}</span>
        {% elsif component.level == 'recordgrp' %}
          <span class="group-title-top">{{ component.title }}</span>
        {% elsif component.level == 'subseries' %}
          <span class="group-title-intermediate">{{ component.title }}</span>
        {% elsif component.level == 'subgrp' %}
          <span class="group-title-intermediate">{{ component.title }}</span>
        {% else %}
          <span class="component-title">{{ component.title }}</span>
        {% endif %}

  {% if component.node_type == "resource" %}
    <a title="More information" class="more-link" href="{{ site.url }}{{ site.baseurl }}{{ component.uri }}"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
  {% else %}
    <!-- component.node_type == "archival_object" or is not set (ex: it's not set by ArchivesSpace extractor) -->
    <a title="More information" class="more-link" href="{{ site.url }}{{ site.baseurl }}/objects/{{component_id}}"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
  {% endif %}

        {% if component_detail.notes[0] or component_detail.subjects[0]  or component_detail.linked_agents[0] %}
          <span class="more-link glyphicon glyphicon-comment" aria-hidden="true"></span>
        {% endif %}
      </div>
      <div class="col-md-3">

        {% for instance in component_detail.instances %}
          <p>{% include instance.html %}</p>
        {% endfor %}

      </div>
    </div>

  {% if component.children %}
      {% assign tree = component.children %}
      {% include component.html %}
    {% endif %}
  </div>
{% endfor %}
