<footer class="container-fluid">

  <div class="row">

    <div class="col-xs-12">
      <hr/>
      <!-- <h4 class="footer-heading">{{ site.title }}</h4> -->
      <div class="col-xs-6">
        <ul class="list-unstyled">
          <li>Contact</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://github.com/helrond">Github</a></li>
          <li><a href="https://twitter.com/helrond">Twitter</a></li>
          <li><a href="https://github.com/helrond/staticAid">Source</a></li>
        </ul>
      </div>

      <div class="col-xs-6 text-right">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
