<footer class="container-fluid">

  <div class="row">

    <div class="col-xs-12">
      <hr/>
      <div class="col-xs-6">
        <img class="footer-logo" src="http://rockarch.org/images/RAC-logo.png">
        <h4 class="footer-heading">{{ site.title }}</h4>
        <p>{{site.description}}</p>
      </div>
      <div class="col-xs-6 text-right">
        <ul class="list-unstyled">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="http://rockarch.org">rockarch.org</a></li>
          <li>15 Dayton Avenue, Sleepy Hollow, NY 10591</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
