{% assign current = page.url | split: '/' %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">staticAid</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'collections' %} active{% endif %}" href="/collections">collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'organizations' %} active{% endif %}" href="/organizations">organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'people' %} active{% endif %}" href="/people">people</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'families' %} active{% endif %}" href="/families">families</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'software' %} active{% endif %}" href="/software">software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current[1] == 'about' %} active{% endif %}" href="/about">about</a>
        </li>
      </ul>
        <form action="get" id="search" class="d-flex" role="search">
          <input id="query" type="text" class="form-control me-2" placeholder="Search">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</nav>
