<h3 id="{{note.persistent_id}}">{% include note-title.html %}</h3>
<div>
  {% case {{note.jsonmodel_type}} %}
    {% when 'note_multipart' %}
      {% for subnote in note.subnotes %}
        {% if subnote.jsonmodel_type == 'note_text' %}
          <p>{{ subnote.content | markdownify }}</p>
        {% endif %}
        {% if subnote.jsonmodel_type == 'note_chronology' %}
          <dl>
          {% for item in subnote.items %}
            <dt>{{item.event_date}}</dt><dl>{% for event in item.events %}{{event}} {% endfor %}</dl>
          {% endfor %}
          </dl>
        {% endif %}
      {% endfor %}
    {% when 'note_singlepart' %}
      <p>{{ note.content }}</p>
  {% endcase %}
</div>
