{% capture id %}{{agent.ref | replace: '/agents/corporate_entities/', '' }}{% endcapture %}
{% assign agent_detail = site.data.agents.corporate_entities[{{id}}] %}
{
  "@context": "http://schema.org/",
  "@type": "Organization",
  "@id": "{{site.url}}{{site.baseurl}}/organizations/{{id}}",
  {% for name in variant_names %}
  "additionalName": [
    {% if name.authorized %}
    {% else %}
	  "{{name.sort_name}}"
	  {% if forloop.last == false %}
	   ,
	  {% endif %}
    {% endif %}
  ],
  {% endfor %}
  "name": "{{agent_detail.title}}"
}
