{% capture id %}{{agent.ref | replace: '/agents/corporate_entities/', '' }}{% endcapture %}
{% assign agent_detail = site.data.agents.corporate_entities[{{id}}] %}
{% assign variant_names = agent_detail.names %}
{
  "@context": "http://schema.org/",
  "@type": "Organization",
  "@id": "{{site.url}}{{site.baseurl}}/organizations/{{id}}",
  {% if agent.dates_of_existence[0].begin %}
  "foundingDate": "{{agent.dates_of_existence[0].begin}}",
  {% else %}
  {% endif %}
  {% if agent.dates_of_existence[0].end %}
  "dissolutionDate": "{{agent.dates_of_existence[0].end}}",
  {% else %}
  {% endif %}
  "additionalName": [
  {% for name in variant_names %}
    {% if name.authorized %}
    {% else %}
	  "{{name.sort_name}}"
	  {% if forloop.last == false %}
	   ,
	  {% endif %}
    {% endif %}
  {% endfor %}
  ],
  "name": "{{agent_detail.title}}"
}
