# << data >> -- from ArchivesSpace
# % data % -- user submitted

"@type": "% Library or Organization %",
"@id": "% link to Wikidata/Freebase URI, if available %",
"name": "% Name of archive/library %",
"url": "% link %",
"image": "% link to logo/building image %",
"sameAs": "% links to wikipedia, twitter, facebook, etc %",
"priceRange": 0,
"alternateName": "% other names in use %",
"telephone": "% phone number %",
"address": {
    "@type": "PostalAddress",
    "streetAddress": "% street and number %",
    "addressLocality": "% city %",
    "addressRegion": "% state %",
    "postalCode": "% zip code %"
 },
 "branchOf": {
    "@type": "% Organization or CollegeOrUniversity etc %",
    "@id": "% link to Wikidata/Freebase URI, if available %",
    "name": "% Name of parent org %",
    "url": "% link %",
    "sameAs": "% links to wikipedia, twitter, facebook, etc %"
  }
