<div class="well">
  <h3>Found in</h3>
  {% for collection_hash in site.data.collections %}
    {% assign collection = collection_hash[1] %}
    {% capture collection_id %}{{collection_hash[0]}}{% endcapture %}
    {% capture description %}{% for note in collection.notes %}{% if note.type == 'abstract' %}{{note.subnotes[0].content}}{% elsif note.type == 'scopecontent' %}{{note.subnotes[0].content}}{% elsif note.type == 'bioghist' %}{{note.subnotes[0].content}}{% endif %}{% endfor %}{% endcapture %}
    {% if resource_ref == collection.uri %}
     <h4><a href="../../collections/{{collection_id}}">{{collection.title}}</a> <small>{{collection.dates[0].expression}}</small></h4>
     {% for extent in collection.extents %}
       {% include extent.html %}
     {% endfor %}
     <p>{{description | truncatewords: 200}}</p>
    {% endif %}
  {% endfor %}
</div>
