_config.yml
.sass-cache
.jekyll-metadata
.DS_Store
/build/
/node_modules/
/utilities/*.txt
/utilities/*.cfg
/utilities/*.pid
/utilities/*.pickle

log.txt
*.pyc

# Eclipse stuff
.project
.pydevproject

