# build artifacts
/build/
/dist/
/node_modules/
_config.yml
*.egg-info
.sass-cache
.jekyll-cache
*__pycache__

# runtime and user-generated stuff
*.cfg
.jekyll-metadata
*.log
*.pickle
*.pid
*.pyc
*.pyo

# IDE stuff
.DS_Store
.project
.pydevproject
