# build artifacts
/build/
/node_modules/
_config.yml
.sass-cache

# runtime and user-generated stuff
*.cfg
.jekyll-metadata
*.log
*.pickle
*.pid
*.pyc
*.pyo

# IDE stuff
.DS_Store
.project
.pydevproject

