---
layout: default
---

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1 class="text-center">{{ site.title }}</h1>
      <h4 class="text-center">{{ site.description }}</h4>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h2>Audio</h2>
        <p>Stream access copies of select archival audio material.</p>
        <a class="btn btn-primary" href="{{ site.url }}{{ site.baseurl }}/audio">Browse audio</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h2>Moving Images</h2>
        <p>Stream access copies of select moving images.</p>
        <a class="btn btn-primary" href="{{ site.url }}{{ site.baseurl }}/moving-image">Browse moving images</a>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "{{ site.instytype }}",
  {% if site.instyID %}
  "@id": "{{ site.instyid }}",
  {% endif %}
  "name": "{{ site.instyname }}",
  "url": "{{ site.instyurl }}",
  "image": "{{ site.instyimage }}",
  {% if site.instySameAs %}
  "sameAs": "{{ site.instysameas }}",
  {% endif %}
  "priceRange": 0,
  {% if site.instyAltName %}
  "alternateName": "{{ site.instyaltname }}",
  {% endif %}
  "telephone": "{{ site.instyphone }}",
  "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.instystreetaddress }}",
      "addressLocality": "{{ site.instycity }}",
      "addressRegion": "{{ site.instystate }}",
      "postalCode": "{{ site.instyzipcode }}"
   {% if site.parentOrg %}
   },
   "parentOrganization": {
      "@type": "{{ site.parenttype }}",
      {% if site.parentID %}
      "@id": "{{ site.parentid }}",
      {% endif %}
      "name": "{{ site.parentname }}",
      {% if site.parentSameAs %}
      "sameAs": "{{ site.parentsameas }}",
      {% endif %}
      "url": "{{ site.parenturl }}"
    }
}
  {% else  %}
   }
}
  {% endif %}
</script>
