---
layout: default
---

<div class="col-sm-12">
  <h1>Collections</h1>
  {% for collection_hash in site.data.collections %}
    {% assign collection = collection_hash[1] %}
    {% unless collection.hide_on_main_page %}
      {% assign id = collection_hash[0] %}
      {% capture description %}{% for note in collection.notes %}{% if note.type == 'abstract' %}{{note.subnotes[0].content}}{% elsif note.type == 'scopecontent' %}{{note.subnotes[0].content}}{% elsif note.type == 'bioghist' %}{{note.subnotes[0].content}}{% endif %}{% endfor %}{% endcapture %}
      {% capture fa_number %}{{ collection.id_0 }}{% if collection.id_1 %}.{{ collection.id_1 }}{% endif %}{% if collection.id_2 %}.{{ collection.id_2 }}{% endif %}{% if collection.id_3 %}.{{ collection.id_3 }}{% endif %}{% endcapture %}
      <div class="col-sm-4">
        <div class="panel panel-primary home-panel">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ site.url }}{{ site.baseurl }}/collections/{{id}}">{{ collection.title }} ({{fa_number}})</a></h3>
          </div>
          <div class="panel-body">
            {% if description == '' %}
              Sorry, no abstract, scope/content note, or biographical statement could be found for this collection.
            {% else  %}
              {{description | truncatewords: 50}}
            {% endif %}
            <div class="row">
              <a class="btn btn-info btn-sm pull-right collection-button" href="{{ site.url }}{{ site.baseurl }}/collections/{{id}}">Read more</a>
            </div>
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>


<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "{{instType}}",
  {% if instID == '' %}
  {% else  %}
  "@id": "{{instID}}",
  {% endif %}
  "name": "{{instName}}",
  "url": "{{instURL}}",
  "image": "{{instImage}}",
  {% if instSameAs == '' %}
  {% else  %}
  "sameAs": "{{instSameAs}}",
  {% endif %}
  "priceRange": 0,
  {% if instAltName == '' %}
  {% else  %}
  "alternateName": "{{instAltName}}",
  {% endif %}
  "telephone": "{{instPhone}}",
  "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{instStreetAddress}",
      "addressLocality": "{{instCity}}",
      "addressRegion": "{{instState}}",
      "postalCode": "{{instZipCode}}"
   {% if parentOrg == 'Yes' %}
   },
   "parentOrganization": {
      "@type": "{{parentType}}",
      {% if parentID == '' %}
      {% else  %}
      "@id": "{{parentID}}",
      {% endif %}
      "name": "{{parentName}}",
      {% if parentSameAs == '' %}
      {% else  %}
      "sameAs": "{{parentSameAs}}",
      {% endif %}
      "url": "{{parentURL}}"
    }
}
  {% else  %}
    }
}
  {% endif %}
</script>
