<h3>
  {% case {{note.type}} %}
    {% when 'accessrestrict' %}Conditions Governing Access
    {% when 'accruals' %}Accruals
    {% when 'acqinfo' %}Immediate Source of Acquisition
    {% when 'altformavail' %}Existence and Location of Copies
    {% when 'appraisal' %}Appraisal
    {% when 'arrangement' %}Arrangement
    {% when 'bibliography' %}Bibliography
    {% when 'bioghist' %}Biographical / Historical 
    {% when 'custodhist' %}Custodial History
    {% when 'fileplan' %}File Plan
    {% when 'index' %}Index
    {% when 'odd' %}General
    {% when 'otherfindaid' %}Other Finding Aids
    {% when 'originalsloc' %}Existence and Location of Originals
    {% when 'phystech' %}Physical Characteristics and Technical Requirements
    {% when 'prefercite' %}Preferred Citation
    {% when 'processinfo' %}Processing Information
    {% when 'relatedmaterial' %}Related Archival Materials
    {% when 'scopecontent' %}Scope and Contents
    {% when 'separatedmaterial' %}Separated Materials
    {% when 'userestrict' %}Conditions Governing Use
    {% when 'dimensions' %}Dimensions
    {% when 'legalstatus' %}Legal Status
    {% when 'summary' %}Summary
    {% when 'edition' %}Edition
    {% when 'extent' %}Extent
    {% when 'note' %}General Note
    {% when 'inscription' %}Inscription
    {% when 'langmaterial' %}Language of Materials
    {% when 'physdesc' %}Physical Description
    {% when 'abstract' %}Abstract
    {% when 'physloc' %}Physical Location
    {% when 'materialspec' %}Materials Specific Details
    {% when 'physfacet' %}Physical Facet
  {% endcase %}
</h3>
{% for subnote in note.subnotes %}
  {% if subnote.jsonmodel_type == 'note_text' %}
    <p>{{ subnote.content | markdownify }}</p>
  {% endif %}
  {% if subnote.jsonmodel_type == 'note_chronology' %}
    <dl>
    {% for item in subnote.items %}
      <dt>{{item.event_date}}</dt><dl>{% for event in item.events %}{{event}} {% endfor %}</dl>
    {% endfor %}
    </dl>
  {% endif %}
{% endfor %}
