.home-panel {
  min-height: 21em;
}

.collection-button {
  margin-top: 1em;
}

.contents .group-title-top {
  font-size: 2rem;
}

.contents .group-title-intermediate {
  font-size: 1.7rem;
}

.more-link {
  padding-left: .5em;
}

.label {
  line-height: 2.3;
}
