.group__title--top {
  font-size: 2rem;
}

.group__title--intermediate {
  font-size: 1.7rem;
}

.material-icons {
  font-family: "Material Icons";
}

.full-height {
  height: 100%;
}

.hover-border:hover {
  border: 1px solid #0a58ca;
}

.offcanvas-top {
  height: 90vh;
}
