---
layout: default
---
{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.audio[{{object_id}}] %}
{% assign breadcrumbs = site.data.breadcrumbs[{{object_id}}] %}
{% assign instances = object.instances %}

<div class="col-md-8 col-md-offset-2">

  <h1 id="asset-title" class="collection title">
    {{ object.title }}
    <small>
      {% include avnumber.html %}
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6" style="margin-top:1.8em;">
      <audio id="asset" data-type="audio" width="100%">
        <source src="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" type="audio/mp3">
        <p>
          Your browser doesn't support HTML5 audio.
          <a href="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" download>Download</a> the audio instead.
        </p>
      </audio>
      <div id="asset-controls">
        <button type="button" id="play-pause" class="play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        <input type="range" id="seek-bar" value="0">
        <button type="button" id="time">00:00:00</button>
        <button type="button" id="mute"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
        <input type="range" id="volume-bar" min="0" max="1" step="0.1" value=".5">
        <a class="pull-right" type="button" href="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" id="download" download><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
      </div>
      {% include av-scopecontent.html %}
    </div>

    <div class="col-md-5 col-offset-md-1">
      {% include av-metadata.html %}
    </div>

  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <hr>
  <h3>Note to Users</h3>
  <p>The digitized content provided through this portal is intended for education and research purposes. The current copyright status of these materials has been described, to the best of our knowledge, in the associated archival descriptions. It is the user’s responsibility to abide by all applicable provisions of the United States copyright law.</p>
</div>
