---
layout: default
---
{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.objects[object_id] %}
{% assign breadcrumbs = site.data.breadcrumbs[object_id] %}

<div class="col-md-8 col-md-offset-2">

  {% include breadcrumb.html %}

  <h1 itemprop="name" class="collection title">
    {{ object.title }}
    <small>
      {{object.dates[0].expression}}
    </small>
    <span class="badge">
      {{object.level}}
    </span>
  </h1>

  {% for instance in object.instances %}
    <h2>{% include instance.html %}</h2>
  {% endfor %}

  <div class="object extents">
    {% for extent in object.extents %}
      {% include extent.html %}
    {% endfor %}
  </div>

  <div class="object agents">
    {% assign agents = object.linked_agents %}
    {% include agent-list.html %}
  </div>

  <div class="object subjects">
    {% assign subjects = object.subjects %}
    {% include subjects.html %}
  </div>

  <div class="object notes">
    {% for note in object.notes %}
      {% include note.html %}
    {% endfor %}
  </div>

  {% if object.resource.ref %}
    <div class="object resource">
      {% assign resource_ref = object.resource.ref %}
      {% include resource-link.html %}
    </div>
  {% endif %}

</div>
