---
layout: default
---
{% capture id %}{{page.id}}{% endcapture %}
{% assign collection = site.data.collections[{{id}}] %}
{% capture fa_number %}{{ collection.id_0 }}{% if collection.id_1 %}.{{ collection.id_1 }}{% endif %}{% if collection.id_2 %}.{{ collection.id_2 }}{% endif %}{% if collection.id_3 %}.{{ collection.id_3 }}{% endif %}{% endcapture %}
<div class="col-md-8 col-md-offset-2">

  {% include collection/breadcrumb.html %}

  <h1 class="collection-title">
    {{ collection.title }} ({{fa_number}})
    <small>
      {{collection.dates[0].expression}}
    </small>
  </h1>

  <div class="collection-extents">
    {% for extent in collection.extents %}
      {% include collection/extent.html %}
    {% endfor %}
  </div>

  <div class="collection-notes">
    {% for note in collection.notes %}
      {% include collection/note.html %}
    {% endfor %}
  </div>

  {% if collection.tree.ref %}
    <div class="collection-contents">
      {% assign tree = site.data.trees[{{id}}].children %}
      {% include collection/component.html %}
    </div>
  {% endif %}

</div>
