---
layout: default
---
{% capture collection_id %}{{page.id}}{% endcapture %}
{% assign collection = site.data.collections[{{collection_id}}] %}
{% capture fa_number %}{{ collection.id_0 }}{% if collection.id_1 %}.{{ collection.id_1 }}{% endif %}{% if collection.id_2 %}.{{ collection.id_2 }}{% endif %}{% if collection.id_3 %}.{{ collection.id_3 }}{% endif %}{% endcapture %}

<div itemscope itemtype="http://schema.org/CollectionPage" class="col-md-8 col-md-offset-2">

  {% include breadcrumb.html %}

  <h1 itemprop="name" class="collection title">
    {{ collection.title }} ({{fa_number}})
    <small>
      {{collection.dates[0].expression}}
    </small>
  </h1>

  <div class="collection extents">
    {% for extent in collection.extents %}
      {% include extent.html %}
    {% endfor %}
  </div>

  <div class="collection agents">
    {% assign agents = collection.linked_agents %}
    {% include agent-list.html %}
  </div>

  <div class="collection subjects">
    {% for subject in collection.subjects %}
      {% include subject.html %}
    {% endfor %}
  </div>

  <div class="collection notes">
    {% for note in collection.notes %}
      {% include note.html %}
    {% endfor %}
  </div>

  {% if collection.tree.ref %}
    <div class="collection contents">
      {% assign tree = site.data.trees[{{collection_id}}].children %}
      {% include component.html %}
    </div>
  {% endif %}

</div>
