---
layout: default
---
{% capture person_id %}{{page.id}}{% endcapture %}
{% assign person = site.data.agents.people[{{person_id}}] %}

<div class="col-md-8 col-md-offset-2">

  {% include collection/breadcrumb.html %}

  <h1 class="collection-title">
    {{ collection.title }} ({{fa_number}})
    <small>
      {{collection.dates[0].expression}}
    </small>
  </h1>

  <div class="collection-extents">
    {% for extent in collection.extents %}
      {% include collection/extent.html %}
    {% endfor %}
  </div>

  <div class="collection-agents">
    {% assign agents = collection.linked_agents %}
    {% include collection/agent-list.html %}
  </div>

  <div class="collection-subjects">
    {% for subject in collection.subjects %}
      {% include collection/subject.html %}
    {% endfor %}
  </div>

  <div class="collection-notes">
    {% for note in collection.notes %}
      {% include collection/note.html %}
    {% endfor %}
  </div>

  {% if collection.tree.ref %}
    <div class="collection-contents">
      {% assign tree = site.data.trees[{{collection_id}}].children %}
      {% include collection/component.html %}
    </div>
  {% endif %}

</div>
